body{
    opacity: 0;
    top: 50px;
    overflow: hidden;
}
.main{
    width: 80%;
    padding: 0 10%;
    height: calc(100vh - 320px);
    overflow: hidden;  
}
.main video{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 960px) { 
    .main{
        width: 100%;
        height: calc(100vh - 200px);
        padding: 0 0;
    }
}