
/* ------ 공통 영역 ------ */
#header{ opacity: 0;}
#banner-main{
    background: center / cover no-repeat url(../img/iot/banner-main.png);
    background-attachment: fixed;
}
.info__bar{width: 90%;}

/* ------ 오버뷰 ------ */
.overview-wrap{
    background: center / cover no-repeat url(../img/iot/bg-overview.png);
}
.overview-wrap .name-wrap {
    padding-bottom: 0px;
}
.overview-wrap .overview__flow-wrap{
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
}
/* ------ 이슈 골 ------ */
.goal-wrap{
    background-image: url("../img/iot/bg-install.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.goal-wrap .goal  ul li ul{
    grid-template-columns: 1fr 1fr;
}
/*------------------------ 폰트 / 컬러 ------------------------*/
.font-wrap .name-wrap {
    padding-bottom: 0px;
}
.font-wrap .fon-detail{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    column-gap:4.7%;
    row-gap:4.7%;
}
.font{
    margin-top:60px;
}
.font div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;
}
.font div p:first-child{
    width: 100px;
    font-weight: 500;
}
.font img{
    width: 100%;
    height: auto;
}
.color-wrap{
    padding-top: 160px;
}
.color-wrap .name-wrap {
    padding-bottom: 0px;
}
.color-chip{
    grid-column: 2 / 4;

    -webkit-transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    -ms-transition: margin-top 1s;
    -o-transition: margin-top 1s;
    transition: margin-top 1s;
}
.color {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    column-gap:4.7%;
    row-gap:4.7%;
}
.color li {
    padding-bottom: 100%;
    border-radius: 50%;
}


.color__primary1{background: #6e3186;}
.color__sub1{background: #e96569;}
.color__primary2{background: #9fd766;}
.color__sub2{background: #fad340;}
.color__black{background: #3e3d3c;}
.color__gray{background: #dddddb;}
/*------------------------ 스크린 배너 ------------------------*/
.screen-wrap{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.screen-wrap .name__category{
    width: auto;
}
.screen1{
    background-image: url("../img/iot/banner-start.png");
}
.screen2{
    background-image: url("../img/iot/banner-screen.png");
}
.screen-wrap .screen{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}
.screen1 .screen__left{
    width: 50%;
    padding: 0;
}
.screen1 .screen__left p,
.screen2 .screen__left p{
    text-shadow: 0 0px 30px #000000e6
}
.screen-wrap .screen__left .name__category span{
    padding-left: 20px;
}
.screen2 .screen__left{
    width: 50%;
    padding: 30% 0 0 0;
}

/*------------------------ 아이콘 & 그래픽 ------------------------*/
/* 공통 */
.icon-list, 
.graphic-list{margin-bottom: 80px;}
.icon-list:last-child,
.graphic-list:last-child{margin-bottom: 0px;}
.icon-list p, 
.graphic-list p{
    margin-bottom: 8px;
    font-weight: 500;
}
.icon-screen p, 
.graphic-screen p{
    margin-bottom: 16px;
    font-weight: 500;
}
.icon-list ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, auto));
    column-gap:4.7%;
    row-gap: 20px;
}
.graphic-list ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    column-gap:4.7%;
    row-gap: 20px;
}
.icon-list ul img,
.graphic ul img{
    width: 100%;
    height: auto;
}
/* 아이콘  */
.icon-wrap{
    background-image: url("../img/iot/bg-icon.png");
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.icon-wrap .con-inner:first-child{
    padding: 160px 0 0 0;
}
.icon-wrap .icon__image{
    padding: 0 10%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:4.2%;
    row-gap: 4.2%;
    text-align: center;
}
.icon-wrap .icon__image img{
    width: 100%;
    height: auto;
}
.icon-screen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:4.2%;
    row-gap: 4.2%;
}
.icon-screen li:first-child{
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
}
.icon-screen li img{
    width: 100%;
    height: auto;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 
    5px 20px 20px #0000001a,
    10px 40px 25px #00000026;
}
/* 그래픽  */
.graphic-wrap{
    background-image: url("../img/iot/bg-graphic.png");
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.graphic-wrap .con-inner:first-child{
    padding: 160px 0 0 0;
}
.graphic-screen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:4.2%;
    row-gap: 4.2%;
}
.graphic-screen li:first-child{
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
}
.graphic-screen li img{
    width: 100%;
    height: auto;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 
    5px 20px 20px #0000001a,
    10px 40px 25px #00000026;
}

/*------------------------ 화면 ------------------------*/
.screen-title-wrap{
    background-image: url("../img/iot/banner-screen.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.screen-title-wrap .screen-title{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.screen-title-wrap .screen-title__left{
    width: 30%;
    padding-top: 30%;
}
.screen-title-wrap  .name__num-wrap {
    padding-bottom: 12px;
}
/*------------------------ 웰컴 ------------------------*/

.welcome-wrap .name__num-wrap {
    padding-bottom: 12px;
}
.welcome{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:4.2%;
}
.welcome > li:first-child{
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
}
.welcome > li:nth-child(2){padding-top: 30%;}
.welcome > li:nth-child(4){padding-top: 60%;}
.welcome > li img{
    width: 100%;
    height: auto;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 
    5px 20px 20px #0000001a,
    10px 40px 25px #00000026;
}
.welcome > li img{
    margin-bottom: 40px;
}
.welcome > li img:last-child{
    margin-bottom: 0px;
}

/*------------------------ 등록 ------------------------*/
.install-wrap{
    background-image: url("../img/iot/bg-install.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.install-wrap .con-inner {
    padding: 160px 0 0 0;
}
.install-wrap > img{
    width: 100%;
    height: auto;
}
/*------------------------ 상세 ------------------------*/
.detail > img{
    width: 100%;
    height: auto;
    border-radius: 1em;
}
/*------------------------ 에너지 ------------------------*/
.energy-wrap{background-color: #f5f5f5;}
.energy-wrap .con-inner {
    padding: 160px 0 0 0;
}
.energy-wrap .name-wrap {
    padding-bottom: 0px;
}
.energy-wrap > img{
    width: 100%;
    height: auto;
}
/*------------------------ 가이드 ------------------------*/

.guide-wrap .guide__image{
    padding: 0 40px;
    background-color: #f5f5f5;
    border-radius: 1em;
    overflow: hidden;
}
.guide-wrap .guide__image img{
    width: 100%;
    height: auto;
} 
/* .guide-wrap .con-inner{
    padding: 160px 0 0 0;
}
.guide-wrap .guide__image{
    text-align: center;
    background-color: #f5f5f5;
}
.guide-wrap .guide__image img{
    padding: 40px 0;
    margin: auto;
} */
/*------------------------ CF ------------------------*/
.cf-wrap{
    background-color: #f5f5f5;
}
/* .cf-wrap .con-inner {
    padding: 160px 0 0 0;
}*/
.cf-wrap video{
    width: 100%;
    height: auto;
    border-radius: 1em;
} 
@media screen and (max-width: 960px) { 
    #banner-main{
        background-attachment: scroll;
    }
   
 
    /* 컬러 */
    .color-chip{
        grid-column: 1 / 4;
        margin-top: 20px;

        -webkit-transition: margin-top 1s;
        -moz-transition: margin-top 1s;
        -ms-transition: margin-top 1s;
        -o-transition: margin-top 1s;
        transition: margin-top 1s;
    }
}
@media screen and (max-width: 768px) { 
    /* 그래픽 */
    .icon-wrap{
        background-size: 300% auto;
        background-position: left bottom;
    }
    .icon-screen{
        grid-template-columns: 1fr 1fr;
    }
    .icon-screen li:first-child img{
        display: none;
    }
    .graphic-wrap{
        background-size: 300% auto;
        background-position: right bottom;
    }
    .graphic-screen{
        grid-template-columns: 1fr 1fr;
    }
    .animation-screen{
        grid-template-columns: 1fr 1fr;
    }
    /* 웰컴 */
    .welcome{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap : 80px
    }
    .welcome > li:first-child{
        grid-column: 1 / 4;
    }
} 
@media screen and (max-width: 480px) { 

    /* 컬러 */
    .color {
        grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    }
    /* 웰컴 */
    .welcome{
        grid-template-columns: 1fr 1fr;
    }
    .welcome > li:first-child{
        grid-column: 1 / 3;
    }
    .welcome .mobile-hide{
        display: none;
    }
    
} 








