
/* ------ 공통 영역 ------ */
#header{ opacity: 0;}
#banner-main{
    background: center / cover no-repeat url(../img/nea/banner-main.png);
    background-attachment: fixed;
}
.info__bar{width: 100%;}

/* ------ 오버뷰 ------ */
.overview-wrap{
    background: center / cover no-repeat url(../img/nea/bg-overview.png);
}
/* ------ 링크 ------ */
.link-bottom .branding .image,
.link-bottom .ux .image{
    width: 100%;
    padding-bottom: 80%;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.link-bottom .branding .image{
    background-image: url("../img/pj-ne-branding.png");
}
.link-bottom .ux .image{
    background-image: url("../img/pj-nea-ux.png");
}
.link-bottom .title{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-bottom .title p{
    display: inline-block;
}
.link-bottom .title .title__title{
    font-weight: 500;
    color:#000000B3;
}
.link-bottom .title .title__link{
    display: flex;
    align-items: center;
}
.link-bottom .title .title__link span{
    width: 18px;
    height: 18px;
    opacity: 0.5;
}
.link-bottom .title .title__link span img{
    width: 100%;
    height: 100%;
}
/*------------------------ 이슈 & 골 ------------------------*/
.goal-wrap{
    background:url(../img/nea/img-concept.png);
}
/*------------------------ 폰트 / 컬러 ------------------------*/
.font__image img{
    width: 100%;
    height: auto;
}
.font__info{
    margin-top: 0;

    -webkit-transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    -ms-transition: margin-top 1s;
    -o-transition: margin-top 1s;
    transition: margin-top 1s;
}
.font__info p{margin-bottom: 40px;}
.font__info p span:first-child{
    display: inline-block;
    width: 100px;
}
.font__info ul li{margin-top: 4px;}
.font__info ul li span:first-child{
    display: inline-block;
    width: 100px;
}
.font__info .bold{font-weight: 700;}
.font__info .medium{font-weight: 500;}
.font__info .regualr{font-weight: 400;}
.font__info .light{font-weight: 300;}
.color-wrap{
    padding-top: 160px;
}
.color-wrap .name-wrap span{
    color : #000000;
    font-weight : 500;
}
.color{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:60px;
    row-gap: 30px;
}
.color li {
    border-radius: 8px;
    overflow: hidden;
}
.color .font-subtitle-w,
.color .font-subtitle{
    padding: 16px 32px 0 32px;
}
.color .font-body-w,
.color .font-body{
    padding: 0px 32px 16px 32px;
}
.color__primary{background: url(../img/nea/texure-noise.png),#906EFF;}
.color__sub{background: url(../img/nea/texure-noise.png), #5484FF;}
.color__gray{background: url(../img/nea/texure-noise.png), #353030;}
.color__white{
    background: #ffffff;
    border: 2px solid #0000001a;
    box-sizing: border-box;
}

/*------------------------ 컨셉1-디자인 시스템 ------------------------*/
.system__image{width: 100%; height: auto;}
.system__image img{width: 100%; height: auto;}
.system-wrap{
    width: 100%;
    background:center / cover no-repeat url(../img/nea/bg-system.png); 
    background-attachment: fixed;
}
.system .name-wrap p span{
    color: #000000;
    font-weight: 500;
}
.system__list-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:3%;
}
.system__list{width: 100%;}
.system__list li{
    height: auto;
    margin-bottom: 6%;
} 
.system__list li img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px #0000001a;
} 

/*------------------------ 컨셉2-디자인 시스템 ------------------------*/
.soft-wrap { 
    background:
    linear-gradient(#ffffff 0%, #f5f5f5 100%);}
.soft .name-wrap p span{
    color : #000000;
    font-weight: 500;
}
.soft__image{ 
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
.soft__image img{ 
    width: 100%;
    height: auto;
 }

/*------------------------ 컨셉3-디자인 시스템 ------------------------*/
.light-wrap .light{padding-bottom: 0px;}
.light .name-wrap p span{
    color : #000000;
    font-weight: 500;
}
.light__image{
    width: 100%;
    height: auto;
    padding-bottom: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:60px;
}
.light__image div:first-child{padding-right: 0px;
    -webkit-transition: padding-right 1s;
    -moz-transition: padding-right 1s;
    -ms-transition: padding-right 1s;
    -o-transition: padding-right 1s;
    transition: padding-right 1s;
}
.light__image div:last-child{padding-left: 0px;
    -webkit-transition: padding-left 1s;
    -moz-transition: padding-left 1s;
    -ms-transition: padding-left 1s;
    -o-transition: padding-left 1s;
    transition: padding-left 1s;
}
.light__image div img{
    width: 100%;
    height: auto;
}

/*------------------------ 스크린 ------------------------*/
.screen-title-wrap{
    background:
    linear-gradient(#ffffff 30%, #ffffff00 30.1%),
    url(../img/nea/texure-noise.png),
    linear-gradient(#ffffff 0%, #ffffff 10%,#5c44a9 10.1%, #5c44a9 40%, #3354aa 80%);
} 
.screen-title-wrap .name-wrap{
    padding-top: 80px;
    padding-bottom: 0px;
}
.screen__video{
    width: 80%;
    margin: auto;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.screen__video video{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 30px;
    border: 10px solid #000000;
} 
.screen__screen{
    width: 90%;
    margin: auto;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.screen__screen video,
.screen__screen img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 30px;
    border: 10px solid #000000;
}

.screen-2{
    background-color: #f5f5f5;
}
.screen-2 .con-inner {
    padding: 160px 0 0 0;
}
.screen-2 .name-wrap{
    padding-bottom: 0px;
}
.screen__screen-full{
    width: 100%;
    padding-bottom: 75%;
    background-image: url(../img/nea/img-step.png);
    background-size: cover;
    background-position: top center;

    -webkit-transition: padding-bottom 1s, height 1s;
    -moz-transition: padding-bottom 1s, height 1s;
    -ms-transition: padding-bottom 1s, height 1s;
    -o-transition: padding-bottom 1s, height 1s;
    transition: padding-bottom 1s, height 1s;
}

.screen-3{
    background:linear-gradient(#ffffff 0%, #f5f5f5 100%);
}

/*------------------------ 뉴스 ------------------------*/
.new-wrap .con-inner{
    padding: 160px 0 0 0;
    
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
}
.news__list{
    row-gap: 80px;
    margin-top: 80px;
}
.news__list > li{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.news__list > li:last-child{margin-bottom: 0px;}
.news__list > li > div:first-child{
	flex-shrink: 0;
	width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;

    -webkit-transition:height 1s, width 1s;
    -moz-transition: height 1s, width 1s;
    -ms-transition: height 1s, width 1s;
    -o-transition: height 1s, width 1s;
    transition: height 1s, width 1s;
}
.news-info{
    width:auto;
    padding-left:32px;
    flex-basis: content;
}
.news-1{background:url(../img/nea/img-new1.jpeg);}
.news-2{background:url(../img/nea/img-new2.jpeg);}
.news__list li button{margin-top: 16px;}

@media screen and (max-width: 960px) { 
    #banner-main{
        background-attachment: scroll;
    }
    .goal-wrap{
        background-position: 50% center;
    }
    /* ------ 링크 ------ */
    .link-bottom a{
        margin-bottom: 80px;

        -webkit-transition: margin-bottom 1s;
        -moz-transition: margin-bottom 1s;
        -ms-transition: margin-bottom 1s;
        -o-transition: margin-bottom 1s;
        transition: margin-bottom 1s;
    }
    .link-bottom .branding .image, 
    .link-bottom .ui .image {
        padding-bottom: 60%;

        -webkit-transition: padding-bottom 1s;
        -moz-transition: padding-bottom 1s;
        -ms-transition: padding-bottom 1s;
        -o-transition: padding-bottom 1s;
        transition: padding-bottom 1s;
    }

    /* 폰트 & 컬러 */
    .font__info{
        margin-top: 60px;

        -webkit-transition: margin-top 1s;
        -moz-transition: margin-top 1s;
        -ms-transition: margin-top 1s;
        -o-transition: margin-top 1s;
        transition: margin-top 1s;
    }
    .color{ grid-template-columns: 1fr 1fr;}   

    /* 어디든 */
    .system__list-wrap{grid-template-columns: 1fr 1fr;}
    .system__list-wrap > li:last-child{display: none;}

    /* 가볍게 */
    .light__image{
        grid-template-columns: 1fr;
    }
    .light__image div:first-child{padding-right: 80px;

        -webkit-transition: padding-right 1s;
        -moz-transition: padding-right 1s;
        -ms-transition: padding-right 1s;
        -o-transition: padding-right 1s;
        transition: padding-right 1s;
    }
    .light__image div:last-child{padding-left: 80px;

        -webkit-transition: padding-left 1s;
        -moz-transition: padding-left 1s;
        -ms-transition: padding-left 1s;
        -o-transition: padding-left 1s;
        transition: padding-left 1s;
    }
    .screen__video{ 
        width: 100%;

        -webkit-transition: width 1s;
        -moz-transition: width 1s;
        -ms-transition: width 1s;
        -o-transition: width 1s;
        transition: width 1s;
    }

    /* 스크린 */
   .screen-title-wrap{
        background:
        linear-gradient(#ffffff 20%, #ffffff00 20.1%),
        url(../img/nea/texure-noise.png),
        linear-gradient(#ffffff 0%, #ffffff 10%,#5c44a9 10.1%, #5c44a9 40%, #3354aa 80%);
    }
    .screen__screen-full{
        width: 100%;
        padding-bottom: 75%;
        background-image: url(../img/nea/img-step.png);
        background-size: cover;
        background-position: top center;
    }
    .step__step{
        width: 30px;
        margin-right: 30px;
    }
    .screen__step .column4 .column4-13{
        grid-column: 2 / 5;
    }
    .screen__screen-full{
        padding-bottom: 0%;
        height: 600px;

        -webkit-transition: padding-bottom 1s, height 1s;
        -moz-transition: padding-bottom 1s, height 1s;
        -ms-transition: padding-bottom 1s, height 1s;
        -o-transition: padding-bottom 1s, height 1s;
        transition: padding-bottom 1s, height 1s;
    }

    /* 뉴스 */
    .new-wrap .con-inner{
        padding: 160px 0 60px 0;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }   

}
@media screen and (max-width: 480px) {
    .color{grid-template-columns: 1fr;}
    .system__list-wrap{grid-template-columns: 1fr;}
    
    /* 가볍게 */
    .light__image div:first-child{padding-right: 32px;

        -webkit-transition: padding-right 1s;
        -moz-transition: padding-right 1s;
        -ms-transition: padding-right 1s;
        -o-transition: padding-right 1s;
        transition: padding-right 1s;
    }
    .light__image div:last-child{padding-left: 32px;

        -webkit-transition: padding-left 1s;
        -moz-transition: padding-left 1s;
        -ms-transition: padding-left 1s;
        -o-transition: padding-left 1s;
        transition: padding-left 1s;
    }
    
    /* 뉴스 */
    .news__list > li > div:first-child{
        width: 100px;
        height: 100px;
    
        -webkit-transition:height 1s, width 1s;
        -moz-transition: height 1s, width 1s;
        -ms-transition: height 1s, width 1s;
        -o-transition: height 1s, width 1s;
        transition: height 1s, width 1s;
    }
    .news-info{padding-left: 24px;}
    .news-info .font-title{font: 500 18px / 24px 'Noto Sans KR', sans-serif;}
}