
/* ------ 공통 영역 ------ */

#header{ opacity: 0;}
/* .contents{ opacity: 0; top: 100px;} */
#banner-main{
    background: center / cover no-repeat url(../img/nea-ux/banner-main.png);
    background-attachment: fixed;
}
.info__bar{width: 80%;}
.ux-title{
    font-weight: 600;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ux-title span{
    font-weight: 400;
}
/* ------ 오버뷰 ------ */
.overview-wrap{
    background: center / cover no-repeat url(../img/nea-ux/bg-overview.png);
}
/* ------ 링크 ------ */
.link-bottom .branding .image,
.link-bottom .ui .image{
    width: 100%;
    padding-bottom: 80%;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.link-bottom .branding .image{
    background-image: url("../img/pj-ne-branding.png");
}
.link-bottom .ui .image{
    background-image: url("../img/pj-nea.png");
}
.link-bottom .title{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-bottom .title p{
    display: inline-block;
}
.link-bottom .title .title__title{
    font-weight: 500;
    color:#000000B3;
}
.link-bottom .title .title__link{
    display: flex;
    align-items: center;
}
.link-bottom .title .title__link span{
    width: 18px;
    height: 18px;
    opacity: 0.5;
}
.link-bottom .title .title__link span img{
    width: 100%;
    height: 100%;
}
/*------------------------ 이슈 & 골 ------------------------*/
.goal-wrap{
    background:url(../img/nea-ux/img-concept.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
/*------------------------ 리서치 ------------------------*/
.research-wrap .name-wrap .pj__description span{
    color: #000000;
    font-weight: 500;
}
.research-wrap .research__doc ul li{
    cursor: pointer;
    margin-bottom: 0;
    
    -webkit-transition: margin-bottom 1s;
    -moz-transition: margin-bottom 1s;
    -ms-transition: margin-bottom 1s;
    -o-transition: margin-bottom 1s;
    transition: margin-bottom 1s;
}
.research-wrap .research__doc ul li a{
    display: block;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 8px;
    padding-bottom: 150%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.research__doc1 a{
    background-image: url("../img/nea-ux/img-doc1.png");
    background-color: #dcf3f1;
}
.research__doc2 a{background-image: url("../img/nea-ux/img-doc2.png");}
.research__doc3 a{background-image: url("../img/nea-ux/img-doc3.png");}
.research__doc4 a{background-image: url("../img/nea-ux/img-doc4.png");}
.research__report{
    margin-top: 80px;
}
.research__report .report__image{
    row-gap: 40px;
    
    -webkit-transition: grid-template-columns 1s;
    -moz-transition: grid-template-columns 1s;
    -ms-transition: grid-template-columns 1s;
    -o-transition: grid-template-columns 1s;
    transition: grid-template-columns 1s;
}
.research__report .report__image li{
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.research__report .report__image li:nth-child(1){
    padding-bottom: 120%;
    background-image: url("../img/nea-ux/img-report1.png");
}
.research__report .report__image li:nth-child(2){
    padding-bottom: 120%;
    background-image: url("../img/nea-ux/img-report2.png");
}
.research__report .report__image li:nth-child(3){
    padding-bottom: 120%;
    background-image: url("../img/nea-ux/img-report3.png");
}
.research__report .report__image li:nth-child(4){
    padding-bottom: 200%;
    background-image: url("../img/nea-ux/img-report4.png");
}
.research__report .report__image li:nth-child(5){
    padding-bottom: 200%;
    background-image: url("../img/nea-ux/img-report5-1.png");
}
.research__report .report__image li:nth-child(6){
    padding-bottom: 200%;
    background-image: url("../img/nea-ux/img-report5-2.png");
}
.research__report .report__image li:nth-child(7){
    padding-bottom: 80%;
    background-image: url("../img/nea-ux/img-report5-3.png");
}
.research__report .report__image li:nth-child(8){
    padding-bottom: 80%;
    background-image: url("../img/nea-ux/img-report5-4.png");
}
.research__report .report__image li:nth-child(9){
    padding-bottom: 80%;
    background-image: url("../img/nea-ux/img-report5-5.png");
}
/*------------------------ 언어 순화 ------------------------*/
.word-wrap .name-wrap .pj__description span{
    color: #000000;
    font-weight: 500;
}
.word-wrap{
    background-image: url("../img/nea-ux/bg-word.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.word{
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
}
.word .word__before div,
.word .word__after div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.word li div p{
    text-align: center;
    padding: 12px;
    margin-bottom: 12px;
    line-height: 20px;
    color : #777;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
.word .word__arrow{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.word .word__arrow img{
    width: 30px;
    opacity: 0.5;
}

/*------------------------ 순서대로 ------------------------*/

.step-list .step__step{
    width: 100%;
}
.step-list .step__step .title{
    min-width: 120px;
    padding: 9px;
    text-align: center;
    border-radius: 26px;
    border: 1px solid #ccc;
    
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
}
.step-list .step__step .line{
    width: 100%;
    height: calc(100% - 46px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-list .step__step .line div{
    width: 2px;
    height: 100%;
    background-color: #eee;
    box-sizing: border-box;
}
.step-list .step__con{
    grid-column: 2 / 5;
    padding: 9px 0;
    margin-bottom: 20px;
    line-height: 20px;
    
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
}
.step-flow{
    margin-top: 80px;
}
.step-flow img{
    width: 100%;
    height: auto;
}
/*------------------------ 익숙하게 ------------------------*/
.familiar .name-wrap .pj__description span{
    color: #000000;
    font-weight: 500;
}
.familiar-wrap{background-color: #f5f5f5;}
.familiar-img img{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    border-radius: 8px;
}
.familiar-img img:last-child{
    margin-bottom: 0px;
}
/*------------------------ UX ------------------------*/
.ux-wrap .name-wrap .pj__description span{
    color: #000000;
    font-weight: 500;
}
.ux-wrap .con-inner{
    padding: 160px 0 0 0;
}
.ux-wrap .ux-ai img{
    width: 100%;
    height: auto;
}
.ux-wrap .ux-screen{
    margin-top: 80px;
}
.ux-wrap .ux-screen-image{
    text-align: center;
    background-color: #f5f5f5;
}
.ux-wrap .ux-screen-image img{
    padding: 40px 0;
    margin: auto;
}

@media screen and (max-width: 960px) {
    #banner-main{
        background-attachment: scroll;
    }
    /* ------ 링크 ------ */
    .link-bottom a{
        margin-bottom: 80px;

        -webkit-transition: margin-bottom 1s;
        -moz-transition: margin-bottom 1s;
        -ms-transition: margin-bottom 1s;
        -o-transition: margin-bottom 1s;
        transition: margin-bottom 1s;
    }
    .link-bottom .branding .image, 
    .link-bottom .ui .image {
        padding-bottom: 60%;

        -webkit-transition: padding-bottom 1s;
        -moz-transition: padding-bottom 1s;
        -ms-transition: padding-bottom 1s;
        -o-transition: padding-bottom 1s;
        transition: padding-bottom 1s;
    }
    /* 리서치 */
    .research__doc > ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 4.2%;
    
        -webkit-transition: grid-template-columns 1s;
        -moz-transition: grid-template-columns 1s;
        -ms-transition: grid-template-columns 1s;
        -o-transition: grid-template-columns 1s;
        transition: grid-template-columns 1s;
    }
    .research__report > ul{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4.2%;
    
        -webkit-transition: grid-template-columns 1s;
        -moz-transition: grid-template-columns 1s;
        -ms-transition: grid-template-columns 1s;
        -o-transition: grid-template-columns 1s;
        transition: grid-template-columns 1s;
    }
    /* 언어 순화 */
    .word .word__before div,
    .word .word__after div{
        grid-template-columns: 1fr;
    }
    .word li div p:nth-child(2n){
        display: none;
    }
    .word li p span{
        display: inline;
    }
    /* 순서대로 */
    .step-list > ul > li{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 4.2%;
    }
    .step-list .step__step .line{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    /* 리서치 */
    .research-wrap .research__doc ul{
        grid-template-columns: 1fr 1fr;
    
        -webkit-transition: grid-template-columns 1s, column-gap 1s;
        -moz-transition: grid-template-columns 1s, column-gap 1s;
        -ms-transition: grid-template-columns 1s, column-gap 1s;
        -o-transition: grid-template-columns 1s, column-gap 1s;
        transition: grid-template-columns 1s, column-gap 1s;
    }
    .research-wrap .research__doc ul li{
        margin-bottom: 20px;
    
        -webkit-transition: margin-bottom 1s;
        -moz-transition: margin-bottom 1s;
        -ms-transition: margin-bottom 1s;
        -o-transition: margin-bottom 1s;
        transition: margin-bottom 1s;
    }
    .research-wrap .research__doc > img {
        display: none;
    }
    .research__report .report__image{
        grid-template-columns: 1fr 1fr;
    
        -webkit-transition: grid-template-columns 1s;
        -moz-transition: grid-template-columns 1s;
        -ms-transition: grid-template-columns 1s;
        -o-transition: grid-template-columns 1s;
        transition: grid-template-columns 1s;
    }
    .research__report .report__image li:nth-child(3n){
        display: none;
    }
    /* 순서대로 */
    .step-list > ul > li{
        display: block;
    }
    .step-list .step__step .title{
        padding: 0px 0;
        text-align: left;
        border-radius: 0px;
        border: none;
        color: #000000B3;
        font-weight: 500;
    
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
    .step-list .step__con{
        padding: 4px 0;
    
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
}