/* Preser */
header{
    position: sticky;
}
.contents{opacity: 0; top:50px;}
#header__title{opacity: 0;}
/* layout */
.profile{
    width: 100%;
}
.profile-wrap{
    width: 1400px;
    height: auto;
    margin: auto;
}
.profile__top, .profile__bottom{
    display: flex;
    align-items: stretch;
}
.profile__bottom{
    margin: 120px 0px;
}
.action, .career{
    width: calc(50% - 30px);
    margin-right: 60px;
}
.skill, .project{width: calc(50% - 30px);}
/* video */
.action video{
    width: 100%;
    height: 100%;
}
/* skill */
.skill__name{margin-bottom: 60px;}
.skill__skill li{margin-bottom: 30px;}
.skill__skill li:last-child{margin-bottom: 0px;}
.skill__info{
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.skill__title{
    display: block;
    width: 50%;
}
.skill__detail{
    display: block;
    width: 50%;
    text-align: right;
}
.skill__level{
    display: block;
    width: 25px;
}
.skill-bg{
    position: relative;
    width: calc(100% - 50px);
    height: 8px;
    border-radius: 4px;
    background-color: #0000000d;
}
.skill-bar{
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background-color: #000000B3;
}
.skill__info span:last-child{
    text-align: right;
}
/* career & project */
.career li, .project li{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.career li span:first-child,
.project li > span:first-child{
    display: block;
    width: 140px;
}
.profile__empty{
    width: calc(100% - 280px);
    height: 2px;
    background-color: #0000000d;
}
.career li span:last-child,
.project li>span:last-child{
    display: block;
    width: 140px;
    text-align: right;
}
.project li .font-body span{
    margin-left: 8px;
}
@media screen and (max-width: 1920px) { 
    .profile-wrap{
        width: calc(100% - 480px);
        padding: 0 240px;
    }
}
@media screen and (max-width: 1400px) { 
    .profile-wrap{
        width: calc(100% - 320px);
        padding: 0 160px;
    }
}
@media screen and (max-width: 960px) {
    .profile-wrap{
        width: calc(100% - 120px);
        height: auto;
        padding: 0 60px;
    }
    .profile__top, .profile__bottom{
        display: block;
    }
    .action, .career,.skill, .project{
        width: 100%;
        margin-right: 0px;
    }
    .action video{
        height: auto;
    }
    .skill, .project{
        margin-top: 120px;
    }
}
@media screen and (max-width: 480px) { 
    .profile-wrap{
        width: calc(100% - 64px);
        padding: 0 32px; 
    }
} 