/* Preser */
header{
    position: sticky;
}
.contents{opacity: 0; top:50px;}
#header__title{opacity: 0;}
/* contents */
.project{
    width: 100%;
}
.project ul{
    width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.project ul li{
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    top: 0;
    float: left;
    cursor: pointer;
} 
.project__info{
    opacity: 0;
    transition : opacity .2s ease-in;
    
    position:absolute;
    width: calc(100% - 64px);
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;

    background-color: #00000080;
} 
.project__info-wrap{
    width: 100%;
    height: auto;
}
.project__info-wrap .project__title{
    width: 100%;
    height: auto;
    width: 100%;
    text-align: center;
}
.project__info-wrap .project__description{
    width: 100%;
    height: auto;
    padding-top: 6px;
    text-align: center;
    color:#ffffffcc;
}
.project__arrow{
    width: 40px;
    height: auto;
    margin: auto;
    padding-right: 50px;
    transition : padding-right .2s ease-in;
}
.project__info:hover{
    opacity: 1;
    transition : opacity .3s ease-in;
}
.project__info:hover .project__arrow{
    opacity: 1;
    padding-right: 0px;
    transition : padding-right .3s ease-in;
}
/* 리스트 이미지 적용 */
.nea{
    background: center / cover no-repeat url(../img/pj-nea.png);
}
.nea-ux{
    background: center / cover no-repeat url(../img/pj-nea-ux.png);
}
.neb{
    background: center / cover no-repeat url(../img/pj-neb.png);
}
.ndc{
    background: center / cover no-repeat url(../img/pj-ndc.png);
}
.ne-branding{
    background: center / cover no-repeat url(../img/pj-ne-branding.png);
}



@media screen and (max-width: 1920px) { 
    .project ul{
        width: calc(100% - 480px);
        padding: 0 240px;
    }
}
@media screen and (max-width: 1400px) { 
    .project ul{
        width: calc(100% - 320px);
        padding: 0 160px;
    }
}
@media screen and (max-width: 960px) { 
    .project ul{
        width: calc(100% - 120px);
        padding: 0 60px;
    }
}
@media screen and (max-width: 768px) { 
    .project ul li{
        width: 100%;
        padding-bottom: 100%;
    }
}
@media screen and (max-width: 480px) { 
    .project ul{
        width: calc(100% - 64px);
        padding: 0 32px; 
    }
    .project ul li{
        opacity: 1;    
        background-color: #0000001a;
        
    }  
    .project__info{
        opacity: 1;
        transition : opacity .2s ease-in;
        background-color: #00000033;
    } 
} 